version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: zyro_pg
    restart: unless-stopped
    environment:
      POSTGRES_USER: zyro
      POSTGRES_PASSWORD: zyro
      POSTGRES_DB: zyro
    ports:
      - '5434:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  pgdata:

networks:
  backend:
